extends layout

block content
  h2 Project Description
  p Graphical and textual display of live ADS-B In information. Data will be displayed on a webpage hosted on a server that is running on a Raspberry Pi. Data will be collected from an external ADS-B receiving antenna and stored locally on the device.
  a(href='https://github.com/Krishan7601/adsb-in') GitHub Project Link
  h3 Data Services
  ul
    li TIS-B (Traffic data)
    li FIS-B (Weather data)
  h3 System Components
  ul
    li 1090 MHz Antenna
    li USB SDR ADS-B Receiver
    li Raspberry Pi
    li Power Supply
