doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1=title
    .table-of-contents
      ul
        li
          a(href="/") Home
        li
          a(href="/piinfo") Raspberry Pi
        li
          a(href="/adsb") ADS-B Data
    block content

      
