footer#footer
  ul
    li E-Mail: 
      a(href="mailto:krishan7603@gmail.com") Krishan7603@gmail.com
    li GitHub Repo: 
      a(href="https://github.com/krishan7601") http://github.com/krishan7601/data-display
